<div id="password-form-content" class="password-form-content">
    {% if form.non_field_errors %}
        <div class="message message-error">
            {% for error in form.non_field_errors %}
                {{ error }}
            {% endfor %}
        </div>
    {% endif %}

    <div class="form-group">
        <label for="id_old_password">Current Password</label>
        <input type="password"
               id="id_old_password"
               name="old_password"
               required
               autocomplete="current-password">
        {% if form.old_password.errors %}
            <p class="form-error">{{ form.old_password.errors.0 }}</p>
        {% endif %}
    </div>

    <div class="form-group">
        <label for="id_new_password1">New Password</label>
        <input type="password"
               id="id_new_password1"
               name="new_password1"
               required
               autocomplete="new-password">
        {% if form.new_password1.errors %}
            <p class="form-error">{{ form.new_password1.errors.0 }}</p>
        {% endif %}
    </div>

    <div class="form-group">
        <label for="id_new_password2">Confirm New Password</label>
        <input type="password"
               id="id_new_password2"
               name="new_password2"
               required
               autocomplete="new-password">
        {% if form.new_password2.errors %}
            <p class="form-error">{{ form.new_password2.errors.0 }}</p>
        {% endif %}
    </div>

    <button type="submit" class="btn btn-primary">Update Password</button>
</div>
